body {
    font-family: Arial, sans-serif;
    background-color: #ffd880;
    padding: 140px;
    justify-content: center;
    display: flex;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/IMG/img1.jpg);
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

.tudo{
    background-color: #feb5c0;
    width: 850px;
    height: 450px;
    border-radius: 20px;
    
}

.alinhamento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    color: #CF453A;
    font-size: 45px;
    text-align: center;
    padding-top: 10px;
}

.status {
    font-weight: bold;
    margin-bottom: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    text-align: center;
}

.connected {
    background-color: #E6DFB8;
    color: #AEAA82;
    width: 300px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.disconnected {
    background-color: #f8d7da;
    color: #CF453A;
}

.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
}

.card h3 {
    margin-top: 0;
    color: #CF453A;
    font-size: 25px;
}

.card .value {
    font-size: 2.2em;
    font-weight: bold;
    color: #ffd880;
}

.card .unit {
    font-size: 0.5em;
    color: #CF453A;
}